.tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.tarea input[type="checkbox"] {
  margin-right: 10px;
}

.tarea button {
  border: none;
  background: transparent;
  color: red;
  cursor: pointer;
}
